$baseIconColor:#f8bf37;
$baseFontColor:#333;
$baseFontNormal:#999;
$baseTipsColor:#ff0000;
$basebackground:#f2f2f2;
$basePageColor:#12a4ff;
$btnColorBlue:#12a4ff;
$itemShadow:0px 4px 40px 0px rgba(152,152,152,0.28);
$borderline:#e0e0e0;


