@import "./theme";

html,body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
}
html {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-tap-highlight-color:transparent;
  -webkit-text-size-adjust:none;
}
body{
  -webkit-text-size-adjust:none;
  font-family:"PingFang SC", "Helvetica Neue", Helvetica,  "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif,Microsoft Yahei,Arial,Helvetica,sans-serif,Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
  font-size:$baseFontSize;
  color: $baseContentColor;
  background: $baseBackgroundColor;
}
a:focus,input:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:hover{
  text-decoration: none;
}
button,input,textarea {
  -webkit-appearance:none;
  font-size:inherit;
}
*:focus {outline: none;resize:none;}
input[type=button],input[type=text],input[type=submit],input[type=reset] {
  -webkit-appearance:none;
  outline:none;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -o-border-radius:0;
}
input:required,input:invalid {
  border:0 none;
  outline:0 none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  -ms-box-shadow:none;
  -o-box-shadow:none;
  box-shadow:none;
}
::-webkit-input-placeholder {
  color:#999;
  font-size:15px;
}
::-moz-placeholder{
  color:#999;
  font-size:15px;
}
.clearfix:after{
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.hide{
  display: none;
}
