
$baseBackgroundColor: #fefefe;
$withoutDataBackgroundColor: #f3f4f6;
$baseTitleColor: #333333;
$baseContentColor: #666666;
$baseNoticeColor: #999999;
$baseFontSize: 24px;
$btnColorBlue:#12a4ff;
$itemShadow:0px 4px 40px 0px rgba(152,152,152,0.28);
$borderline:#e0e0e0;




